<p>
  lesson9 works!
</p>

<a [routerLink]="['test']">test</a>

<a [routerLink]="['/lesson9/test']">lesson9/test</a>

<a [routerLink]="['/lesson1']">lesson1</a>

<a [routerLink]="['../lesson2']">lesson2</a>

<app-lesson1></app-lesson1>

<router-outlet></router-outlet>

